---
import CompatibilityList from "@/components/compatibility-list.astro";
import ContentSection from "@/components/content-section.astro";
import type { CompatibilityItem } from "@/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "PyTorch",
    icon: "frameworks/pytorch",
    url: "https://pytorch.org/",
  },
  {
    title: "TensorFlow",
    icon: "frameworks/tensorflow",
    url: "https://www.tensorflow.org/",
  },
  {
    title: "OpenCV",
    icon: "frameworks/opencv",
    url: "https://opencv.org/",
  },
  {
    title: "Flask",
    icon: "frameworks/flask",
    url: "https://flask.palletsprojects.com/en/3.0.x//",
  },
  {
    title: "Gradio",
    icon: "frameworks/gradio",
    url: "https://www.gradio.app/",
  },
  {
    title: "OpenAI",
    icon: "frameworks/openai",
    url: "https://platform.openai.com/docs/libraries/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "HuggingFace",
    icon: "platforms/hf",
    url: "https://huggingface.co/",
  },
  {
    title: "Docker",
    icon: "platforms/docker",
    url: "https://www.docker.com/",
  },
  {
    title: "Google Colab",
    icon: "platforms/colab",
    url: "https://colab.google/",
  },
  {
    title: "Kaggle",
    icon: "platforms/kaggle",
    url: "https://www.kaggle.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://github.com/",
  },
  {
    title: "AWS",
    icon: "platforms/aws",
    url: "https://aws.amazon.com/",
  },
];
---

<ContentSection title="AI Toolkit" id="compatibility">
  <Fragment slot="lead">
    <h2
      class="mx-auto max-w-[80vw] text-balance text-center text-xl md:max-w-[40vw]"
    >
      Navigate through the essential tools and platforms for streamlined AI
      development.
      <!-- Astro comes <span class="text-primary">batteries included</span>. It takes
      the best parts of
      <span class="text-primary">state-of-the-art</span>
      tools and adds its own <span class="text-primary">innovations</span>. -->
    </h2>
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
