---
import { getCollection } from "astro:content";
import ContentSection from "@/components/content-section.astro";
import ShowcaseCard from "@/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Work With Us" id="upwork-agency">
  <Fragment slot="lead">
    <h2
      class="mx-auto max-w-[80vw] text-balance text-center text-xl md:max-w-[40vw]"
    >
      Ready to collaborate on your next big project? Visit our <span
        class="text-primary">Upwork Agency</span
      > page to explore how we can bring your ideas to life.
    </h2>
  </Fragment>
  <div class="mt-4 text-center">
    <a
      href="https://www.upwork.com/agencies/vectoraico/"
      class="hover:bg-primary-dark inline-block rounded-lg bg-primary px-6 py-3 text-white transition-all"
    >
      Visit Our Upwork Agency
    </a>
  </div>
</ContentSection>

<ContentSection title="Hallmarks" id="showcase">
  <Fragment slot="lead">
    <h2
      class="mx-auto max-w-[80vw] text-balance text-center text-xl md:max-w-[40vw]"
    >
      Discover our journey through innovation and excellence. We are dedicated
      to serving <span class="text-primary">our valued customers</span>,
      combining
      <span class="text-primary">cutting-edge</span>
      technology with our own <span class="text-primary"
        >unique advancements</span
      >.
    </h2>
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
</ContentSection>
